<% layout("/layouts/boilerplate.ejs") %>

<body class="bg-light">

  <div class="container d-flex justify-content-center align-items-center" style="min-height:100vh;">
    <div class="col-md-6">

      <div class="alert alert-danger shadow-sm text-center" role="alert">
        <h4 class="alert-heading">Something went wrong</h4>

        <p class="mb-3">
          <%= message  %>
        </p>

      </div>

    </div>
  </div>

</body>